*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.container{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../assets/bmw.jpg");
    background-size: cover;
    object-fit: cover;
    opacity: 1;
    height: 100vh;
    
}
h1{
    color: rgb(222, 225, 232);
    margin: 3px;
    padding: 3px;
    display: inline-block;
    font-size: 3rem;

}
label{
    font-size: 1.5rem;
    color: rgb(166, 169, 162);
    margin-bottom: 0.5rem;
}
.container1{
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

input,select{
    margin: 2px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 4px;
}
.form-group{
    display: flex;
    margin: 0 14vw 0 14vw;
    padding: 3px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
button{
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-left: 29vw;
    margin-top: 2vh;
    background-color: rgb(227, 209, 227);
    color: rgb(75, 70, 80);
}
p{
    font-size: 1.5rem;
    color: white;
}